<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Contact US Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/
font-awesome.min.css" integrity="
sha384-wvfXpqpZZVQGK6TAh5PVIGOfQNHSoD2xbE+QkPxCAF1NEevoEH3S1@sibVc0QVnN" crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
</head>

<body>
    <section class="contact">
        <div class="container" style="display: flex;flex-direction: column;">
            <h2>Contact Us</h2>
            <p>We would love to hear from you!</p>
        </div>
        <div class="container">
            <div class="contactInfo">
                <div class="box" id="box1">
                    <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i>
                    </div>
                    <div class="text">
                        <h3>Address</h3>
                        <p>Airoli,<br>Navi Mumbai,<br> Maharastra,<br>Pin: 400708</p>
                    </div>
                </div>
                <div class="box" id="box2">
                    <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i>
                    </div>
                    <div class="text">
                        <h3>Phone</h3>
                        <p>555-333-0007</p>
                    </div>
                </div>
                <div class="box" id="box3">
                    <div class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
                    <div class="text">
                        <h3>Email</h3>
                        <p>team@BlogApp.com</p>
                    </div>
                </div>
            </div>
            <div>
                <!-- <img src="../../assets/icons/Map.png" width="671" height="333"> -->
                <iframe width="671" height="333" style="border-color:black;border-radius: 5px" loading="lazy"
                    allowfullscreen
                    src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJI1zY_0i_5zsR6rnzUuNiwpw&key=AIzaSyB1JCVwIkZMWXgDO6rWdEhJyc-p6SMW0Z4"
                    frameborder="0"></iframe><br><br><br>

            </div>
        </div>
    </section>
</body>

</html>