<div class="pagenotfound">
    <h1 style="text-align: center;">Page Not Found!!</h1>
    <img style="height: 500; width: 600" src="https://cdn.dribbble.com/users/1175431/screenshots/6188233/404-error-dribbble-800x600.gif"
        class="center" border-radius="5pxg">
        <!-- <img style="height: 50; width: 60" src="https://cdn.dribbble.com/users/1665077/screenshots/10738715/media/90712c2d7fd869e9d7586a108024d62c.gif"
        class="center" border-radius="5pxg"> -->
    <!-- <button class="center" mat-raised-button color="primary" routerLink="/homepage">Go To Home</button> -->
    <button type="button" class="btn btn-secondary btn-lg btn-block" routerLink="/homepage">Go To Home</button>
</div>
