<div class="card" *ngFor="let post of posts">
    <div class="content">
        <h2>{{ post.title }} </h2>
        <!-- <div class="fakeimg" style="height:200px;">{{ post.image }}</div> -->
        
        <p>{{ post.category }}</p>
        <p>{{ post.content }}</p>
        <td>
            <button *ngIf="adminService.isUserAdmin()" (click)="updatePost(post.id)" class="btn btn-info btn-sm" style="margin-left:285px;">Update
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>


            <button *ngIf="adminService.isUserAdmin()" (click)="deletePost(post.id)" class="btn btn-danger btn-sm"
                style="margin-left: 1px">
                Delete<i class="fa fa-trash" aria-hidden="true"></i></button>
        </td>
    </div>
